.color-field {
    width: 85px;
    height: 43px;
}
.action-td{
    width: 100px;
}
.action-th{
    text-align: center !important;
}
.btn-seperator{
    width: 5px;
    display: inline-block;
}

.preview {
    max-width: 100%;
}

.personal-image-contaner {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 1px 2px 3px black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    display: inline-block;
}

.personal-image-contaner img {
    width: 150px;
    /* height: 200px; */
}

.personal-image-title {
    text-align: center;
    width: 100%;
    display: inline-block;
}
.personal-frame{
    text-align: center;
    width: 100%;
}
.color-field_cell{
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: inline-block;
}
.icon-frame{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    margin-left: 5px !important;
}