<div class="row">
    <div class="col-sm-12">
        <app-card cardTitle="{{'Sensors'|translate}}" blockClass="pc-component">
            <form class="was-validated" [formGroup]="sensorForm" (submit)="save(sensorForm)" (reset)="cancel()">
                <input type="hidden" formControlName="id" value="0">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label" for="name">{{'Name'|translate}}*</label>
                            <input type="text" class="form-control" id="name" placeholder="{{'Name'|translate}}" required
                                formControlName="name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3 form-check">
                            <label class="checkboxForm form-check-label" for="ShowForUser">{{'ShowForUser'|translate}}</label>
                            <input class="checkboxForm form-check-input" type="checkbox" id="ShowForUser" formControlName="showForUser"/>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label" for="latitude">Latitude*</label>
                            <input type="number" class="form-control" id="latitude" placeholder="Latitude"  required
                                formControlName="latitude" step="0.0001" OnlyNumber="true" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label class="form-label" for="longitude">Longitude*</label>
                            <input type="number" class="form-control" id="longitude" placeholder="Longitude" required
                                formControlName="longitude" step="0.0001" OnlyNumber="true"  />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="selectbyMouse" formControlName="selectbyMouse"/>
                            <label class="form-check-label" for="selectbyMouse">{{'SelectByMouse'|translate}}</label>
                          </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label class="form-label" for="group_id">{{'SensorType'|translate}}*</label>
                            <select class="form-select" required aria-label="select example"
                                formControlName="sensorType_id">
                                <option value="">Select a sensor type...</option>
                                @for(sensorType of sensorTypes; track sensorType) {
                                <option [value]=sensorType.id><img class="icon-frame" [src]="sensorType!.iconBase64!"
                                        *ngIf="sensorType.iconBase64!==''" /> {{sensorType.name}} <span
                                        class="color-field_cell"
                                        [ngStyle]="{'background-color':sensorType.color}"></span>
                                </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary">{{'save'|translate}}</button>
                        <div class="btn-seperator"></div>
                        <button type="reset" class="btn btn-secondary">{{'Cancel'|translate}}</button>
                    </div>
                </div>
            </form>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort>
                    <!-- Name Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>

                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Name'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="latitude">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitude </th>
                        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
                    </ng-container>
                    <ng-container matColumnDef="longitude">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitude </th>
                        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
                    </ng-container>
                    <ng-container matColumnDef="groupName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GroupName'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.groupName}}</td>
                    </ng-container>
                    <ng-container matColumnDef="sensorType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Sensortype'|translate}} </th>
                        <td mat-cell *matCellDef="let element"> {{element.sensorType.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th class="action-th" mat-header-cell *matHeaderCellDef> {{'Action'|translate}} </th>
                        <td class="action-td" mat-cell *matCellDef="let element">
                            <div class="d-flex">
                                <a (click)="editGroup(element)" class="btn"><i antIcon theme="outline"
                                        type="edit"></i></a>
                                <a (click)="deleteGroup(element.id)" class="btn "><i antIcon theme="outline"
                                        type="delete"></i></a>
                            </div>
                        </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" [dir]="'rtl'" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>

        </app-card>
    </div>
</div>